.filters {
    position: relative;
    display: flex;
    max-width: 980px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 6px 1px #e1e5e8;
    margin: 0 -1px 14px -1px;
    border: 1px solid #fff;
    padding: 10px 20px;
    transition: box-shadow .2s ease-in-out;
    color: #20455e;
    font-size: 14px;
    flex-wrap: wrap;

    &__container {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        
        .filter {
            display: flex;
            padding-left: 40px;
            flex-direction: column;
            flex: 1;
            margin: 0 auto;

            select {
                border: 1px solid #ced4da;
                border-radius: 8px;
                padding: 7px 7px;
            }
        }
    }
}